<%- include("partials/header.ejs", {currentPage: "Posts"}) %>
<body>
    <div class="container">
        <div class="row">
            <%- include("partials/sidebar.ejs", {data: data, drafts: drafts}) %>
            <div class="col-8">
                <% if (locals.data && Object.keys(data).length > 0) { %>
                    <ol class="pb-1 fs-2"> 
                        <% for (var i = 0; i < Object.keys(data).length; i++) { %>
                            <li class="my-2">
                                <form action="/editPost" method="post">
                                    <input type="text" class="my-2 fs-2" readonly id="title" name="title" value="<%= data[Object.keys(data)[i]].title %>">
                                    <input type="submit" class="bg-primary text-white fs-5 rounded" value="Edit Post"><br />
                                    <label for="author-name" class="fs-4">By: </label>
                                    <input type="text" class="my-2 fs-4" readonly id="authorName" name="authorName" value="<%= data[Object.keys(data)[i]].authorName %>"><br />
                                    <label for="date" class="fs-4">Modified: </label>
                                    <input type="text" class="my-2 fs-4" readonly id="date" name="date" value="<%= data[Object.keys(data)[i]].date %>"><br />
                                    <textarea readonly class="my-2 fs-5" id="bodyText" name="bodyText"><%= data[Object.keys(data)[i]].bodyText %></textarea><br />
                                    <input type="text" hidden id="id" name="id" value="<%= data[Object.keys(data)[i]].id %>">
                                </form>
                            </li>
                        <% } %>
                    </ol> 
                <% } else { %>
                    <p class="fs-5 mt-3">No Posts Created</p>
                <% } %>
            </div>
        </div>
        <div class="row">
            <%- include("partials/footer.ejs") %>
        </div>
    </div>
</body>
